{% from "macros/questionnaire_header.html" import render_table_header %}

{% macro render_questionnaire_statements(instrument) %}
	{% if instrument.response_type == "likert" %}

		{% for question in instrument["questions"] %}
			<tr>
				<td>{{ question.statement }}</td>

				{% if question.reversed_score == True %}
					{% for value in range(instrument.likert_max, instrument.likert_min-1, -1) %}
					<td><input type="radio" name="{{ question.code }}" value="{{ value }}"></td>
					{% endfor %}

				{% else %}
					{% for value in range(instrument.likert_min, instrument.likert_max+1) %}
					<td><input type="radio" name="{{ question.code }}" value="{{ value }}"></td>
					{% endfor %}
				{% endif %}

			</tr>

			{% if instrument.code == "sp-dm" and loop.index % 10 == 0 and not loop.last%}
				</table>
				<table class="table table-borderless table-sm">
				{{ render_table_header(instrument) }}
			{% endif %}
		{% endfor %}


	{% elif instrument.response_type == "checkbox" %}
		{% for question in instrument["questions"] %}
		<tr>
			<td><label for="{{ question.code }}">{{ question.statement }}</label</td>
			<td><input type="checkbox" name="{{ question.code }}" id="{{ question.code }}" value="True"></td>
		</tr>
		{% endfor %}

	{% elif instrument.response_type == "truefalse" %}
		{% for question in instrument["questions"] %}
			<tr>
				<td><label for="{{ question.code }}">{{ question.statement }}</label</td>
				<td><input type="radio" name="{{ question.code }}" id="{{ question.code }}" value="True"></td>
				<td><input type="radio" name="{{ question.code }}" id="{{ question.code }}" value="False"></td>
			</tr>

			{% if instrument.code == "ma-p" and loop.index % 13 == 0 and not loop.last%}
				</table>
				<table class="table table-borderless table-sm">
				{{ render_table_header(instrument) }}
			{% endif %}

		{% endfor %}

	{% endif %}

{% endmacro %}
