{% macro form_group(field) %}

  {% set input = kwargs.get("col", 9) %}
  {% set label = 12 - input %}

  {% if field.type == "SubmitField" %}
    <div class="form-group row">
      <div class="col-sm-{{ input }} offset-sm-{{ label }}">
        {{ field(class="btn "~kwargs.get('buttons')) }}
      </div>
    </div>

  {% else %}

    <div class="form-group row">
      <label for="{{ field.id }}" class="col-sm-{{ label }} col-form-label">{{ field.label }}</label>
      <div class="col-sm-{{ input }}">
        {% if field.errors %}
          {{ field(class="form-control is-invalid") }}
          {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        {% else %}
          {{ field(class="form-control") }}
        {% endif %}
        {% if field.description %}
          <small class="form-text text-muted">{{ field.description }}</small>
        {% endif %}
      </div>
    </div>
  {% endif %}

{% endmacro %}
