{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block header %}<i class="fa fa-key"></i> Log In{% endblock %}

{% block content %}
  <form method="post" novalidate>
    {{ form.csrf_token }}
    {% for field in form if field.widget.input_type != "hidden" %}
      {{ form_group(field, col=10, buttons="btn-dark btn-lg") }}
    {% endfor %}
    <small class="offset-sm-2">Forgot your <a href="{{ url_for("authentication.get_username") }}">username</a> or <a href="{{ url_for("authentication.password_reset") }}">password</a>?</small>
  </form>
{% endblock %}
