{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block header %}<i class="fa fa-lock"></i> Password {% if request.path.endswith("reset") %}Reset{% else %}Change{% endif %}{% endblock %}

{% block content %}

  <form method="post" novalidate>
    {{ form.csrf_token }}
    {% for field in form if field.widget.input_type != "hidden" %}
      {{ form_group(field, col=10, buttons="btn-dark btn-lg") }}
    {% endfor %}
  </form>

{% endblock %}
