{% extends "base.html" %}

{% block title %}Export All Responses{% endblock %}

{% block header %}Export All Responses{% endblock %}

{% block content %}

<form method="POST">
  <div class="input-group mb-3">
    <select class="custom-select" id="topic" aria-label="Topic selection to export all responses of." name="topic_code">
      {% for topic in topics %}
      <option value="{{ topic.code }}">{{ topic.topic }} ({{ topic.code }})</option>
      {% endfor %}
    </select>
    <div class="input-group-append">
      <button class="btn btn-dark" type="submit">Submit</button>
    </div>
  </div>
</form>

<button class="btn btn-info mb-4" id="exportTable">Export to CSV</button>

{% if responses %}

<table>
	<tr>
		<th>First name</th>
		<th>Last name</th>
		<th>Last three digits of student ID</th>
		<th>Timestamp</th>
		{% for code in question_codes %}
		<th>{{ code }}</th>
		{% endfor %}
	</tr>
	{% for row in responses %}
	<tr>
		<td>{{ row[0] }}</td>
		<td>{{ row[1] }}</td>
		<td>{{ row[2] }}</td>
		<td>{{ row[3] }}</td>
		{% for code in question_codes %}
		<td>{{ row[4][code] }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

{% else %}

<p>No responses, sorry.</p>

{% endif %}

	<script type="text/javascript" src="{{ url_for("static", filename="download_summary_as_csv.js") }}"></script>
  <script type="text/javascript" src="{{ url_for("static", filename="select.js") }}"></script>
{% endblock %}
