{% extends "base.html" %}

{% block title %}{{ title }} Results{% endblock %}

{% block header %}Results for {{ title }}{% endblock %}

{% block content %}

{% for result in summary %}
    {% if result["instrument"].subfactor != "Mastery Avoid Goals" %}
      {% if result["instrument"].code == "mh-e" %}
        <h4>{{ result["instrument"].name }}</h4>
      {% elif result["instrument"].subfactor != None %}
        <h4>{{ result["instrument"].subfactor }}</h4>
      {% else %}
        <h4>{{ result["instrument"].name }}</h4>
      {% endif %}
      <div class="row">
        <div class="col-sm-2">
          <p class="d-block d-sm-none">Score:</span> <b>{{ result["score"] }}</b></p>
          <h5 class="d-none d-sm-block">{{ result["score"] }}</h5>
        </div>
        <div class="col-sm-10">
          {% if result["instrument"].code == "mh-e" %}
            {{ result["instrument"].report_description | safe}}
          {% else %}
            {{ result["instrument"].report_description }}
          {% endif %}
        </div>
      </div>
      <br />
    {% endif %}
  {% endfor %}

  <p><button class="btn btn-info printMe"><i class="fa fa-print"></i> Print...</button></p>

  <script type="text/javascript" src="{{ url_for("static", filename="print.js") }}"></script>
{% endblock %}
