{% extends "base.html" %}

{% block title %}{{ title }} Results{% endblock %}

{% block header %}Results for {{ title }}{% endblock %}

{% block content %}

  {% for instrument in [
    ("tu-", "Task Understanding"), ("gs-", "Goal Setting"), ("sa-", "Strategic Action"),
    ("ad-", "Adapting"), ("sm-", "Monitoring"), ("se-", "Evaluating")]
  %}
    <h4>{{ instrument[1] }}</h4>
    <div class="row">
      <div class="col-sm-4">
        <dl class="row">
          <dt class="col-6">Intent</dt>
          <dd class="col-6">{{ summary["rlq-"~instrument[0]~"i"]["score"]}}</dd>
          <dt class="col-6">Actions</dt>
          <dd class="col-6">{{ summary["rlq-"~instrument[0]~"a"]["score"]}}</dd>
          <dt class="col-6">Successes</dt>
          <dd class="col-6">{{ summary["rlq-"~instrument[0]~"s"]["score"]}}</dd>
        </dl>
      </div>
      <div class="col-sm-8">
        {{ summary["rlq-"~instrument[0]~"s"]["instrument"].report_description }}
      </div>
    </div>
    <br />
  {% endfor %}

  <p><button class="btn btn-info printMe"><i class="fa fa-print"></i> Print...</button></p>

  <script type="text/javascript" src="{{ url_for("static", filename="print.js") }}"></script>
{% endblock %}
