{% extends "base.html" %}

{% block title %}{{ title }} Results{% endblock %}

{% block header %}Results for {{ title }}{% endblock %}

{% block content %}

  <p>
  Study Process Questionnaire describes what you currently think you do when you are learning and why you think you should do it. Deeper approaches mean you were engaging actively and reflectively to integrate information in order to understand material being taught. Surface approaches mean you are finding yourself trying to cope with the task assigned by getting it done and may over use low level strategies (<em>e.g.</em>, memorization) which can lead to limited learning, understanding, and preparation for applying knowledge in new ways. Deep and Surface approaches are not attributes of individual learners. You may use both approaches at different times, although you may have a preference for one or the other in some circumstances. You may want to revisit your learning approach, particularly if you find your overall score for Surface Approach is higher than your score for Deep Approach (All the scores are on a scale of 1 to 5).
  </p>

  {% for result in summary %}
    {% if result["instrument"].subfactor != "Mastery Avoid Goals" %}
      {% if result["instrument"].subfactor != None %}
        <h5>{{ result["instrument"].subfactor if result["instrument"].subfactor != "Mastery Avoid Goals" else result["instrument"].name }}</h5>
      {% endif %}
      <div class="row">
        <div class="col-sm-2">
          <p class="d-block d-sm-none">Score:</span> <b>{{ result["score"] }}</b></p>
          <h5 class="d-none d-sm-block">{{ result["score"] }}</h5>
        </div>
        <div class="col-sm-10">{{ result["instrument"].report_description }}</div>
      </div>
      <br />
    {% endif %}
  {% endfor %}

  <p><button class="btn btn-info printMe"><i class="fa fa-print"></i> Print...</button></p>

  <script type="text/javascript" src="{{ url_for("static", filename="print.js") }}"></script>
{% endblock %}
