{% extends "base.html" %}

{% block title %}{{ title }} Results{% endblock %}

{% block header %}Results for {{ title }}{% endblock %}

{% block content %}


  <h4>Knowledge of Cognition</h4>
  <p>
  There are three categories in knowledge of cognition. Students who score higher (on a scale of 1-5) in these categories have more knowledge and students who score lower in these categories have less knowledge. Use your scores to identify the categories of knowledge that are your strengths and the categories of knowledge where there is room for improvement.
  </p>

  {{ display_summary(["dk", "pk", "ck"]) }}

  <h4>Regulation of Cognition</h4>
  <p>
  There are five categories in regulation of cognition. Students who score higher are regulating these categories of cognition more than students who score lower in these categories. Use your scores to identify what the categories of cognition that are your strengths and categories where there is room for improvement.
  </p>

  {{ display_summary(["p", "ims", "cm", "ds", "e"]) }}

  <p><button class="btn btn-info printMe"><i class="fa fa-print"></i> Print...</button></p>

  <script type="text/javascript" src="{{ url_for("static", filename="print.js") }}"></script>
{% endblock %}


{% macro display_summary(instruments) %}
  {% for code in instruments %}
    <div class="row">
      <div class="col-sm-2">
          <p class="d-block d-sm-none">Score:</span> <b>{{ summary["ma-"~code]["score"] }}</b></p>
          <h5 class="d-none d-sm-block">{{ summary["ma-"~code]["score"] }}</h5>
      </div>
      <div class="col-sm-10">
        <td>{{ summary["ma-"~code]["instrument"].report_description }}</td>
      </div>
    </div>
    <br />
  {% endfor %}
{% endmacro %}
