{% from "macros/wtforms_helper.html" import form_group %}
<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1>

	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <title>UVic ED-D 101 Questionnaires - {% block title %}{% endblock %}</title>

</head>

<body>

  <header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <a class="navbar-brand ml-1" href="{{ request.path }}"><h2>Custom Survey Tool</h2></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ml-auto mr-1">

          {% if g.student %}
            <li class="nav-item"><a class="nav-link {% if request.path.endswith("questionnaire-list") %}active{% endif %}" href="{{ url_for("questionnaire.questionnaire_list") }}">List of Surveys</a></li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if request.path.endswith("responses") or request.path.endswith("password-change") or request.path.endswith("export-all-responses")%}active{% endif %}" href="#" id="account_details" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ g.student['username'] }}</a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account_details">

                {% if g.student.admin %}
                  <a class="dropdown-item" href="{{ url_for("results_display.export_all_responses") }}">Export All Responses</a>
                  <div class="dropdown-divider"></div>
                {% endif %}

                <a class="dropdown-item" href="{{ url_for("results_display.responses") }}">Your Responses</a>
                <a class="dropdown-item" href="{{ url_for("authentication.password_change") }}">Change Password</a>
                <a class="dropdown-item" href="{{ url_for("authentication.logout") }}">Log Out</a>
              </div>
            </li>

          {% else %}

            <li class="nav-item"><a class="nav-link {% if request.path.endswith("login") %} active{% endif %}" href="{{ url_for("authentication.login") }}">Log In</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path.endswith("register") %}active{% endif %}" href="{{ url_for("authentication.register") }}">Register</a></li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if request.path.endswith("get-username") or request.path.endswith("password-reset") %}active{% endif %}" href="#" id="forgot_details" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forgot Login Details</a>

              <div class="dropdown-menu" aria-labelledby="forgot_details">
                <a class="dropdown-item" href="{{ url_for("authentication.get_username") }}">Forgot Username</a>
                <a class="dropdown-item" href="{{ url_for("authentication.password_reset") }}">Forgot Password</a>
              </div>

            </li>

          {% endif %}
        </ul>
      </div>
    </nav>

  </header>

  <main role="main">
    <div class="container">
      <h2 class="mt-5 mb-4">{% block header %}{% endblock %}</h2>
      {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="row">
          <div class="alert alert-{{ category }} ml-3" role="alert">
            {{ message }}
          </div>
        </div>
      {% endfor %}

      {% block content %}{% endblock %}
    </div>
  </main>

  <footer id="footer" class="mt-5">
    <div class="p-1">
      <hr />
      <p class="text-center">
        <small class="text-monospace">
          Interested in the code or have a bug to report? Check out the <a class="font-weight-bold" href="https://gitlab.com/dinosawrusrex/uvic-ed-d-questionnaire">code repo</a>! <i class="fa fa-heart"></i>
        </small>
      </p>
      <hr />
    </div>
  </footer>
</body>
</html>
