{% extends "base.html" %}

{% block title %}Questionnaire List{% endblock %}

{% block header %}<i class="fa fa-list"></i> Surveys{% endblock %}

{% block content %}
  {% for topic in topics %}
    <div class="row">
      <div class="col-4 my-3"><h4>{{ topic.topic }}</h4></div>
      <div class="col my-3">
        <a type="button" class="btn btn-outline-dark" href="{{ url_for("questionnaire.questionnaire", tutorial_topic_code=topic.code)}}"><i class="fa fa-lg fa-arrow-circle-o-right"></i> Complete...</a>
      </div>
    </div>

  {% endfor %}
{% endblock %}
